* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(232, 224, 224);
}
#container {
  margin: auto;
  margin-top: 100px;
  display: flex;
  width: 470px;
  flex-wrap: wrap;
  height: 470px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 4px 4px 8px 8px rgb(137, 136, 136);
}
.po {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 4px 4px 10px 10px grey;
  padding-bottom: 20px;
  background-color: blueviolet;
}
.contain {
  font-size: 5rem;
  padding: 20px;
  text-align: center;
  color: blue;
}
.profile {
  height: 100px;
  align-items: center;
  display: flex;
  color: aliceblue;
  font-weight: 700;
  width: 100%;
  justify-content: space-around;
  font-size: 2rem;
  margin-left: auto;
  text-align: center;
  flex-wrap: wrap;
}
input {
  height: 30px;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
  border-radius: 10px;
  padding: 8px;
  font-size: 25px;
}
button {
  height: 50px;
  width: 300px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  background-color: aqua;
}
.button {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.info {
  font-size: 2rem;
  margin-top: 20px;
  color: rgb(71, 70, 70);
  font-weight: 700;
}
#result {
  margin-top: 50px;
}
h1 {
  margin: auto;
  text-align: center;
  color: green;
}
marquee{
    margin-top: 20px;
    font-size: 2.5rem;
}
